@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
/*
rgb(238,255,105)
rgb(179,230,98)
rgb(90,203,78)
rgb(59,166,65)
rgb(11,114,32)
*/
body {   
  background-position: center; 
  margin: 0;
  color: white;
}
.navBar{
  background-color: rgb(254, 254, 254);
  display: flex;
  justify-content: right;
  font-size: 17px;
  align-items: center;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  padding-bottom: 20px;
}
.navList ul{
  display: flex;
  list-style: none;
  margin-right: 100px;
  margin-bottom: auto;
}
ul li{
  margin: 10px 50px;
}
ul li a{
  text-decoration: none;
  color: rgb(64, 62, 62);
  font-family: Arial, Helvetica, sans-serif;
}
.logo{
  width: 180px;
  margin-right: auto;
  margin-left: 30px;
  margin-top: 40px;
  height: 180x;

}
a:hover{
  color: rgb(0, 255, 34);
  transition: 0.5s;
}
.homeimg{
width:400px;
border-radius: 10px;
height: 580px;
display: block;
margin: 0 auto;
}
.Home{
background-color: rgb(212, 255, 206);
border-radius: 10px;
margin-right: 20px;
margin-top: 20px;
display: flex;
margin-left: 20px;
margin-top: 80px;
}

.home-text{
 color: rgb(255, 132, 95);
 margin-left: 40px;
 text-align: center;
 font-family: 'League Spartan', sans-serif;
 margin-right: 10px;
 justify-content: center;
 font-size: large;
}
.home-text h1{
  color:rgb(13, 191, 37);
   font-family: 'League Spartan', sans-serif;
   font-weight: 1000;
   margin-top: 200px;
}
.home-text h4{
  color: rgb(13, 191, 37) ;
   font-family: 'League Spartan', sans-serif;
}
.home-text button{
color: rgb(255, 255, 255);
padding: 10px 20px;
font-family: 'League Spartan', sans-serif;
border-radius: 8px;
background-color: rgb(13, 191, 37) ;
border: none;
width: 150px;
transition: 0.8s;
}
button:hover{
  width:110px ;
  transition: 0.8s;
}
.hamburg{
  width: 30px;
  margin-right: 20px;
  display: none;
}
@media (max-width: 600px) {
  .navBar{
    position: fixed;
  }
  .hamburg{
    display: block;
    margin-top: 20px;
  }
  .Home{
    background-color: white;
    display: grid;
  }
  .homeimg{
    width:370px;
    width: 300px;
  }
  .home-text h1{
    margin-top: 20px;
    font-size: larger;
  }
  .home-text h4{
    font-size: small;
  }
  .navList ul{
    display: grid;
    background-color: rgb(255, 255, 255);
    padding:25px 25px 45px 45px;
    text-align: center;
    border-radius: 8px;
    opacity: 60%;
    display: inline-block;
    margin: 0;
    margin-left:100px ;
  }
  .navList{
   margin-top: 30rem;
  }
  .navList ul li{
    margin-top: 50px;
  }
  .logo{
    margin-left: 200px;
  }
}
.contact{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.map{
  margin-left: 10px;
  margin-right: 30px;
}
.mapp{
  border-radius: 10px;
  margin-bottom: 30px;
}
.contact-formule{
  display: grid;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: #46c679;
  padding: 100px;
  margin-top: 100px;
  border-radius: 10px;
  text-align: center;
}
.contact-formule button{
  width: 100px;
  padding: 8px 14px ;
  border: none;
  border-radius: 8px;
  color: rgb(255, 79, 10);
  font-family: 'League Spartan', sans-serif ;
  font-weight: bold;
  margin-left: 100px;
   transition: 0.5s;
}
.inpts{
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
   transition: 0.5s;
}
.inpts:hover{
  padding: 8px 20px;
  transition: 0.5s;
}
button:hover{
  background-color:#46c679;
  transition: 0.5s;
  width: 120px;
}
.footer {
  background-color: #46c679;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.footer h2, .footer h3 {
  color: rgb(255, 79, 10);
}

.followUs img {
  width: 30px;
  margin: 0 5px;
  cursor: pointer;
}

.footer p {
  font-size: 14px;
}